<div>
    <a href="/aircraft-values">
        <picture>
            <source srcset="/assets/images/button-vrefonline.webp" type="image/webp">
            <source srcset="/assets/images/button-vrefonline.png" type="image/jpeg">
            <img src="/assets/images/button-vrefonline.png" class="d-block mx-auto"/>
        </picture>
    </a>
    <a href="/aircraft-appraisals">
        <picture>
            <source srcset="/assets/images/button-vref-appraisals.webp" type="image/webp">
            <source srcset="/assets/images/button-vref-appraisals.png" type="image/jpeg">
            <img src="/assets/images/button-vref-appraisals.png" class="d-block mx-auto"/>
        </picture>

    </a>
    <a href="/aircraft-values/verified">
        <picture>
            <source srcset="/assets/images/button-vref-verified.webp" type="image/webp">
            <source srcset="/assets/images/button-vref-verified.png" type="image/jpeg">
            <img src="/assets/images/button-vref-verified.png" class="d-block mx-auto"/>
        </picture>
    </a>
    <a href="/aviation-expert-witness">
        <picture>
            <source srcset="/assets/images/button-vref-expert-witness.webp" type="image/webp">
            <source srcset="/assets/images/button-vref-expert-witness.png" type="image/jpeg">
            <img src="/assets/images/button-vref-expert-witness.png" class="d-block mx-auto"/>
        </picture>
    </a>
</div>
<h5 class="my-4 text-center">Request More Information</h5>
<form class="bg-primary-light p-4 mb-4" action="https://forms.zohopublic.com/vrefaircraftvaluereference/form/VrefMarketingContactForm/formperma/dDiWSeKYnTQFrs8XdITzyzOx6KEFwiKXLBoPL0upm1k/htmlRecords/submit"
      method="POST" accept-charset="UTF-8" enctype="multipart/form-data">
    <input type="hidden" name="zf_redirect_url" value="https://vref.com/"/>
        <div class="mb-3">
            <label class="form-label fw-bold text-dark" for="Dropdown" >Interested in</label>
            <select id="Dropdown" name="Dropdown" class="form-select" formControlName="feilds" required>
                <option value="" disabled selected>Choose one...</option>
                <option value="Online&#x20;Subscription">Online Subscription</option>
                <option value="Printed&#x20;Value&#x20;Guide">Printed Value Guide</option>
                <option value="Appraisals">Appraisals</option>
                <option value="Verified&#x20;Opinions">Verified Opinions</option>
                <option value="Expert&#x20;Witness">Expert Witness</option>
                <option value="General&#x20;Inquiry">General Inquiry</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold text-dark" for="firstName">First Name<em>*</em></label>
            <input id="firstName" type="text" maxlength="255" name="Name_First" fieldType="7" class="form-control"
                   formControlName="firstName" required/>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold text-dark" for="lastName">Last Name<em>*</em></label>
            <input id="lastName" type="text" maxlength="255" name="Name_Last" fieldType="7" class="form-control"
                   formControlName="lastName" required/>
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold text-dark">Email<em>*</em></label>
            <input type="text" maxlength="255" name="Email" value="" fieldType="9" class="form-control"
                   formControlName="email" required/>
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold text-dark">Company (if applicable) </label>
            <input type="text" name="SingleLine" value="" fieldType="1" maxlength="255" class="form-control"
                   formControlName="company"/>
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold text-dark">Phone number<em>*</em></label>
            <input type="text" compname="PhoneNumber" name="PhoneNumber_countrycode" phoneFormat="1"
                   isCountryCodeEnabled="false" maxlength="15" value="" fieldType="11"
                   id="international_PhoneNumber_countrycode" class="form-control" formControlName="number" required/>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="urgentFeild" name="Checkbox" value="This&#x20;is&#x20;urgent"/>
                <label class="form-check-label text-dark" for="urgentFeild">This&#x20;is&#x20;urgent</label>
            </div>
        </div>
        <div class="mb-3">
            <label for="MultiLine" class="form-label fw-bold text-dark">Message<em>*</em></label>
            <textarea id="MultiLine" name="MultiLine" maxlength="65535" class="form-control" formControlName="message"
                      placeholder="Type message here..." required></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
</form>