<form class="contact-form-wrap form-group lbl-left-gourp" action="https://forms.zohopublic.com/vrefaircraftvaluereference/form/VrefMarketingContactForm/formperma/dDiWSeKYnTQFrs8XdITzyzOx6KEFwiKXLBoPL0upm1k/htmlRecords/submit" name="zohoForm" id="apparaisal-form" method="POST" accept-charset="UTF-8" enctype="multipart/form-data">
    <input type="hidden" name="zf_redirect_url" value="https://vref.com/" />
    <div class="pt-20 pb-20">
    <a href="/aircraft-values"><img src="/assets/images/button-vrefonline.png" alt="" /></a>
    <a href="/aircraft-appraisals"><img src="/assets/images/button-vref-appraisals.png" alt="" /></a>
    <a href="/aircraft-values/verified"><img src="/assets/images/button-vref-verified.png" alt="" /></a>
    <a href="/aviation-expert-witness"><img src="/assets/images/button-vref-expert-witness.png" alt="" /></a>
    </div>
    <h5 class="contact-form-title">Request More Information</h5>
    <div class="light-bg green-bg form-group" style="padding:30px" >
      <div class="fitem" style="display:none;">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
          Your request has been submitted!
          <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
      </div>
      <div class="fitem">
          <label for="">Interested in</label>
          <select name="Dropdown" class="form-control" formControlName="feilds" required>
            <option value="" disabled selected>Choose one...</option>
            <option value="Online&#x20;Subscription">Online Subscription</option>
            <option value="Printed&#x20;Value&#x20;Guide">Printed Value Guide</option>
            <option value="Appraisals">Appraisals</option>
            <option value="Verified&#x20;Opinions">Verified Opinions</option>
            <option value="Expert&#x20;Witness">Expert Witness</option>
            <option value="General&#x20;Inquiry">General Inquiry</option>
          </select>
      </div>
      <!--First Name-->
      <div class="fitem">
          <label for="firstName">First Name<em>*</em></label>
          <input id="firstName" type="text" maxlength="255" name="Name_First" fieldType="7" class="form-control" formControlName="firstName" required/>
      </div>

      <!--Last Name-->
      <div class="fitem">
          <label for="lastName">Last Name<em>*</em>
          </label>
          <input id="lastName" type="text" maxlength="255" name="Name_Last" fieldType="7" class="form-control" formControlName="lastName" required/>
      </div>

      <!--Email-->
      <div class="fitem">
          <label>Email<em>*</em></label>
          <input type="text" maxlength="255" name="Email" value="" fieldType="9" class="form-control" formControlName="email" required/>
      </div>

      <!--Company -->
      <div class="fitem">
          <label>Company (if applicable) </label>
          <input type="text" name="SingleLine" value="" fieldType="1" maxlength="255" class="form-control" formControlName="company"/>
      </div>

      <!--Phone-->
      <div class="fitem">
          <label>Phone number<em>*</em>
          </label>
          <input type="text" compname="PhoneNumber" name="PhoneNumber_countrycode" phoneFormat="1" isCountryCodeEnabled="false" maxlength="15" value="" fieldType="11" id="international_PhoneNumber_countrycode" class="form-control" formControlName="number" required/>
      </div>
      <div class="fitem check">
          <div class="fitem-check">
          <input type="checkbox" id="urgentFeild" name="Checkbox" value="This&#x20;is&#x20;urgent" class="fitem-ck-input"/>
          <label class="fitem-ck-txt" for="urgentFeild">This&#x20;is&#x20;urgent</label>
          </div>
      </div>
      <div class="fitem">
          <label>Message<em>*</em></label>
          <textarea name="MultiLine" maxlength="65535" class="form-control" formControlName="message" placeholder="Type message here..." required></textarea>
      </div>
      <div class="fitem">
          <button type="submit" class="btn btn-brand btn-lg btn-full">Submit</button>
      </div>
    </div>
</form>