{% set persons = craft.entries.section('teamMembers') %}
<div class="lines-tp-brand ptb-full dark-bg-img" style="background-image: url(/assets/images/team-bg.png);">
  <div class="container">
    <div class="title-row text-center white-txt" style="padding-top:80px;">
      <h2>Meet Our Experts</h2>
      <p style="max-width:900px;">With over 200 years of combined experience, get to know the leadership team behind our aircraft appraisal and valuations services.</p>
    </div>
    <div class="team-wrap flex">
      {% for person in persons.all() %}
        {% set image = person.profilePicture.one() %}
        <div class="team-item">
          <figure><img {% if image %} src="{{ url(image.getUrl(), {v: image.dateModified.timestamp}) }}" {% endif %} /></figure>
          <h6>{{ person.personName }}<span>{{ person.personDesignation }}</span></h6>
          <a href="/about/{{ person.slug }}" class="btn-arrow btn-lbl btn-lbl-brand">Read more <img src="/assets/images/next-arrow.png" alt=""/></a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>