{% extends "base" %}

{% block css %}
<link rel="stylesheet" href="/assets/scss/solutions.css">
{% endblock %}

{% block content %}
{% include 'solutions/partials/_hero' %}
<div class="border-bottom"></div>
{% include 'solutions/partials/_features' %}
<div class="border-bottom"></div>
{% include 'solutions/partials/_services' %}
<div class="border-bottom"></div>
{% include 'solutions/partials/_cta' %}
<div class="border-bottom"></div>
{% include 'solutions/partials/_compare' %}

{% endblock %}