<div class="container py-5">
  <h2 class="pb-2">{{ entry.compareTitle|nl2br}}</h2>
  <p class="lead pb-2">{{ entry.compareText|nl2br}}</p>
  <div class="table-responsive">
    <table class="table table-striped text-successtable-border border-light">
      <thead class="border-light text-center">
        <tr>
          <th scope="col"></th>
          <th scope="col"><strong>Basic</strong></th>
          <th scope="col"><strong>Standard</strong></th>
          <th scope="col"><strong>Premium</strong></th>
          <th scope="col"><strong>Managed</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">HDD Storage</th>
          <td><img src="/assets/images/tick.png"></td>
          <td>1,5 GB</td>
          <td>50 GB</td>
          <td>up to 5T</i></td>
        </tr>
        <tr>
          <th scope="row">Web Server</th>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
          <th scope="row">Database</th>
          <td>-</td>
          <td>Optional</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
          <th scope="row">DNS</th>
          <td>-</td>
          <td>-</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
          <th scope="row">Backups</th>
          <td>-</td>
          <td>-</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
          <th scope="row">Tech Support</th>
          <td>None</td>
          <td>35$/incident</td>
          <td>15$/incident</td>
          <td>24/7 included</td>
        </tr>
        <tr>
          <td></td>
          <td class="fw-bold">Free</td>
          <td class="fw-bold">$99/mo</td>
          <td class="fw-bold">$179/mo</td>
          <td class="fw-bold"><a href>Contact us</a></td>
        </tr>
        <tr>
          <th class=""></th>
          <th class=""><a class="fs-5 border-bottom">Sign-up</a></th>
          <th class=""><a class="fs-5 border-bottom">Buy Now</a></th>
          <th class=""><a class="fs-5 border-bottom">Buy Now</a></th>
          <th class=""></th>
        </tr>
      </tbody>
    </table>
  </div>
</div> 