{% extends "base" %}

{% block content %}

    {% include 'partials/sections/_hero-side-image' %}
    <div class="border-bottom"></div>
    {% include 'partials/sections/_features' %}
    <div class="border-bottom"></div>
    {% include 'partials/sections/_services' %}
    <div class="border-bottom"></div>
    {% include 'partials/sections/_logos' %}
    <div class="border-bottom"></div>
    {% include 'partials/sections/_testimonials' %}
    <div class="border-bottom"></div>
    {% include 'partials/sections/_cta' %}
    <div class="border-bottom"></div>

{% endblock %}