{% extends "base" %}

{% block content %}

{% include 'partials/sections/_hero-side-image' %}
<div class="border-bottom"></div>
{% include 'partials/sections/_digits' %}
<div class="border-bottom"></div>
{% include 'partials/sections/_features' %}
<div class="border-bottom"></div>
{% include 'partials/sections/_services' %}
<div class="border-bottom"></div>
{% include 'partials/sections/_cta' %}
<div class="border-bottom"></div>

{% endblock %}