<div class="container py-4 my-2 text-center">
    <h2 class="pb-2">{{ entry.digitsTitle }}</h2>
    <div class="row row-cols-2 row-cols-lg-4">
        {% for item in entry.digitsList.all() %}
            <div class="col mb-4 mb-lg-0">
                <h5 class="display-6 fw-bold mb-1">{{ item.heading }}</h5>
                <p class="lead">{{ item.text }}</p>
            </div>
        {% endfor %}
    </div>
</div>