<div class="bg-primary">
    <div class="container py-5">
        <div class="row flex-lg-row-reverse align-items-center">
        <div class="col-12 mt-0 my-4 my-lg-0 text-center py-3">
            <h1 class="display-5 fw-bold lh-1 mb-3 text-white">{{ entry.heroTitle|nl2br }}</h1>
            <p class="lead text-white">{{ entry.heroText|nl2br }}</p>
        </div>
        </div>
    </div>
</div>