<section>
    <div class="bg-primary">
        <div class="container py-4 py-lg-5">
            <div class="row flex-lg-row-reverse align-items-center">
                <div class="col-12 mt-0 my-lg-0 text-center py-3">
                    <h1 class="display-5 fw-bold lh-1 mb-3 text-white">{{ entry.heroTitle|nl2br }}</h1>
                    <p class="lead text-white">{{ entry.heroText|nl2br }}</p>
                    {% set heroLinkUrl = false %}
                    {% set heroLinkEntry = entry.heroButtonLink ? entry.heroButtonLink.one() : false %}
                    {% if heroLinkEntry %}
                        {% set heroLinkUrl = heroLinkEntry.url %}
                    {% endif %}
                    {% if not heroLinkUrl and entry.heroButtonStrictLink is defined and entry.heroButtonStrictLink %}
                        {% set heroLinkUrl = entry.heroButtonStrictLink %}
                    {% endif %}
                    {% if heroLinkUrl %}
                        <div class="mt-3">
                            <a href="{{ heroLinkUrl }}"
                               class="btn btn-primary m-0 d-block d-md-inline-block">{{ entry.heroButtonText ?: 'Get Started' }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>