{% set items = entry.logosItems.all() %}
{% if items is empty %}
    {% set items = imagePlaceholders.logosItemsPlaceholder.all() %}
{% endif %}
{% if entry.logosTitle and items %}
<div class="container px-4 py-5 text-center">
    <h2 class="pb-2">{{ entry.logosTitle|nl2br}}</h2>
      <div class="row g-4 py-2 py-lg-4 row-cols-{{ items|length }}">
        {% set imageTransformHandle = 'logosItemImage' %}
        {% for item in items %}
        <div class="col">
          <div class="logo-img">
              <img src="{{ item.getUrl(imageTransformHandle) }}" class="img-fluid">
          </div>
        </div>
        {% endfor %}
      </div>
</div>
{% endif %}