<div class="container px-4 py-5 text-center">
    <h2 class="pb-2">{{ entry.logosTitle|nl2br}}</h2>
    {% if entry.logosItems %}
      <div class="row g-4 py-2 py-lg-4 row-cols-3">
        {% for item in entry.logosItems.all() %}
        <div class="col">
          <div class="logo-img">
              <img src="{{ item.image.one().getUrl('logosItemImage') }}" class="img-fluid">
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
</div>