<div class="container px-4 py-5 text-center">
    <h2 class="pb-2">{{ entry.mediaOutletsTitle|nl2br}}</h2>
    {% if entry.logosItems %}
      <div class="row g-4 py-2 py-lg-4 row-cols-4">
        {% for item in entry.mediaOutletsItems.all() %}
            <div class="col">
                <a href="{{ item.sourceUrl}}" class="d-block d-inline-block img-cover media-outlet-img overflow-hidden" style="background-image: url({{ item.mediaOutlet.one().featuredImage.one().url }})" target="_blank"></a>
            </div>
        {% endfor %}
      </div>
    {% endif %}
</div>