<div class="container my-3">
  <div class="cards-group">
    <div class="text-group w-100 ">
      <h2 class="text-center mt-4">{{ entry.testimonialTitle }}</h2>
    </div>
    {% set blocks = entry.testimonialItems.all() %}
    <div class="testi-card-cont my-4">
      <div class="testi-card">
        <div id="testi-captions">
          {% for block in blocks %}
            <div class="testi-flex">
              <div id="testimonial_{{block.id}}">
                <h6>{{ block.testimonialHeader }}</h6>
                <p>{{ block.testimonialExcerpt }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $( document ).ready(function() {
      $('#testi-captions').slick({
        adaptiveHeight: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        fade: true,
      });
    });
</script>      