<section>
    <div class="container p-3 p-md-4 p-lg-5">
        <div class="cards-group">
            <div class="text-group w-100 ">
                <h2 class="display-6 fw-bold lh-sm mb-3 text-center">{{ entry.testimonialTitle }}</h2>
            </div>
            {% set blocks = entry.testimonialItems.all() %}
            <div class="testi-card-cont my-3">
                <div class="testi-card">
                    <div id="testi-captions">
                        {% for block in blocks %}
                            <div class="testi-flex">
                                <div id="testimonial_{{ block.id }}" class="d-flex flex-column justify-content-center">
                                    <h6 class="text-center">{{ block.testimonialHeader }}</h6>
                                    <p class="text-center">{{ block.testimonialExcerpt }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#testi-captions').slick({
            adaptiveHeight: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            fade: true,
            dots: true,
        });
    });
</script>      