{% extends "base" %}

{% block content %}

{% include 'partials/sections/_hero' %}
<div class="border-bottom"></div>
{% include 'partials/sections/_features' %}
<div class="border-bottom"></div>
{% include 'partials/sections/_services' %}
<div class="border-bottom"></div>
{% include 'partials/sections/_logos' %}
<div class="border-bottom"></div>
{% include 'partials/sections/_testimonials' with { title: entry.testimonialTitle, blocks: entry.testimonialGroups.all()} %}
<div class="border-bottom"></div>
{% include 'partials/sections/_cta' %}

{% endblock %}